/* Write your CSS here */

.denomination-button {
  width: 40%;
  padding: 10px;
  margin: 5px;
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 5px;
  font-weight: 700;
}
